{% extends "base.html" %} {% block content %} {% include
"components/navbar.html" %}
<section class="mt-30 mb-10 mx-auto">
  <div
    class="flex flex-wrap flex-row justify-center md:justify-around gap-5 mx-10"
  >
    <!-- Tabs Filter -->
    <div class="border-b border-x border-second-color rounded-base h-fit">
      <!-- title -->
      <div
        class="flex items-center gap-x-3 border-b border-transparent rounded-t-sm bg-second-color p-4"
      >
        <ion-icon name="options-outline" class="text-white"></ion-icon>
        <h3 class="font-semibold text-white">Filter</h3>
      </div>

      <!-- Filter Profesi -->
      <ul
        class="w-48 m-2 select-none text-base font-medium text-second-color bg-neutral-primary-soft border border-default rounded-base"
      >
        <li class="w-full border-b border-default rounded-t-lg">
          <div class="flex items-center ps-3">
            <input
              id="data-scientist-checkbox"
              type="checkbox"
              value=""
              class="w-4 h-4 border border-main-color rounded-xs bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft"
            />
            <label
              for="data-scientist-checkbox"
              class="w-full py-3 ms-2 text-sm font-medium text-second-color"
              >Data Scientist</label
            >
          </div>
        </li>
        <li class="w-full border-b border-default rounded-t-lg">
          <div class="flex items-center ps-3">
            <input
              id="ai-checkbox"
              type="checkbox"
              value=""
              class="w-4 h-4 border border-main-color rounded-xs bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft"
            />
            <label
              for="ai-checkbox"
              class="w-full py-3 ms-2 text-sm font-medium text-second-color"
              >AI Engineer</label
            >
          </div>
        </li>
        <li class="w-full border-b border-default rounded-t-lg">
          <div class="flex items-center ps-3">
            <input
              id="cybersecurity-checkbox"
              type="checkbox"
              value=""
              class="w-4 h-4 border border-main-color rounded-xs bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft"
            />
            <label
              for="cybersecurity-checkbox"
              class="w-full py-3 ms-2 text-sm font-medium text-second-color"
              >Cybersecurity Engineer</label
            >
          </div>
        </li>
      </ul>
    </div>

    <!-- Candidate -->
    <div class="flex flex-wrap flex-col justify-start px-5 py-3 md:py-0 w-4xl">
      <!-- Input Search -->
      <form action="#" class="max-w-md">
        <label
          for="search"
          class="block mb-2.5 text-sm font-medium text-second-color sr-only"
          >Search</label
        >
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <ion-icon
              name="search-outline"
              class="size-4 text-second-color"
            ></ion-icon>
          </div>
          <input
            type="search"
            id="search"
            class="block w-xs md:w-lg p-4 ps-10 bg-neutral-secondary-medium border border-third-color text-second-color text-sm rounded-base focus:ring-second-color focus:border-second-color shadow-xs placeholder:text-third-color"
            placeholder="Search for a candidate"
            required
          />
        </div>
      </form>

      <!-- Badge Filter -->
      <span
        id="badge-dismiss-alternative"
        class="inline-flex items-center bg-second-color border border-default text-white text-xs font-medium ps-3 pe-1 py-1 rounded-base gap-2 w-fit my-4"
      >
        <span>Cybersecurity Engineer</span>
        <button
          type="button"
          class="inline-flex items-center p-0.5 text-sm bg-transparent rounded-xs hover:bg-third-color"
          data-dismiss-target="#badge-dismiss-alternative"
          aria-label="Remove"
        >
          <ion-icon name="close-outline" class="size-3.5"></ion-icon>
          <span class="sr-only">Remove badge</span>
        </button>
      </span>

      <!-- Card Candidate -->
      <div
        class="flex flex-wrap justify-center md:justify-start flex-row gap-10 my-4"
      >
        <div
          class="bg-gray-100 block max-w-sm py-6 px-10 border border-transparent rounded-lg shadow-xl"
        >
          <div class="flex flex-col items-center">
            <!-- Profile picture -->
            <img
              class="size-30 mb-6 rounded-full"
              src="{{ url_for('static', filename='img/user-profile.jpg') }}"
              alt="Profile user"
            />
            <!-- Name User -->
            <h5
              class="mb-0.5 text-xl font-semibold tracking-tight text-main-color"
            >
              John Doe
            </h5>
            <!-- Job role -->
            <span class="text-base text-third-color"
              >Cybersecurity Engineer</span
            >

            <!-- Social Media -->
            <div class="flex flex-wrap items-center gap-x-5 my-3">
              <a href="#">
                <ion-icon
                  name="logo-instagram"
                  class="size-4 text-pink-400"
                ></ion-icon>
              </a>
              <a href="#">
                <ion-icon name="logo-github" class="size-4"></ion-icon>
              </a>
              <a href="#">
                <ion-icon
                  name="mail-outline"
                  class="size-4 text-red-500"
                ></ion-icon>
              </a>
            </div>

            <!-- button view profile -->
            <a
              href="/detail-candidate"
              class="inline-flex items-center text-white bg-second-color box-border border border-transparent hover:bg-third-color focus:ring-4 focus:ring-second-color shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 mt-3 focus:outline-none"
            >
              View Profile
              <ion-icon name="eye-outline" class="size-4 ms-2.5"></ion-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "components/footer.html" %} {% endblock %}
