{% extends "base.html" %} {% block content %} {% include
"components/navbar.html" %}

<!-- Jumbotron -->
<section
  class="bg-center bg-no-repeat bg-contain md:bg-cover bg-dark-soft bg-blend-multiply bg-[url('/static/img/jumbotron.webp')]"
>
  <div class="px-4 md:ml-5 mx-auto max-w-screen-7xl text-start py-30 lg:py-40">
    <div class="text-start max-w-3xl">
      <h1
        class="mb-6 text-3xl font-bold tracking-tighter text-white md:text-5xl lg:text-6xl"
      >
        Temukan Kandidat TI yang Tepat dengan Kecerdasan Buatan
      </h1>
      <p class="mb-8 text-base font-normal text-white md:text-xl">
        Smart Recruit menganalisis dan mengklasifikasikan Kandidat TI
        berdasarkan keahlian, pengalaman kerja, dan latar belakang profesional
        dengan akurasi dan efisiensi yang tinggi.
      </p>
    </div>
    <div
      class="flex flex-col space-y-4 sm:flex-row sm:justify-start sm:space-y-0 md:space-x-4"
    >
      <a
        href="{{url_for('assistant')}}"
        class="inline-flex items-center justify-center text-white bg-second-color hover:bg-third-color box-border border border-transparent focus:ring-4 focus:ring-brand-medium shadow-xs font-medium rounded-base text-base px-5 py-3 focus:outline-none"
      >
        Temukan Kandidat
        <ion-icon name="people-circle-outline" class="ml-2 text-xl"></ion-icon>
      </a>
      <a
        href="#about"
        class="text-second-color text-center bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-base px-5 py-4 focus:outline-none"
      >
        Pelajari lebih lanjut
      </a>
    </div>
  </div>
</section>

<!-- About -->
<section id="about" class="mt-20 mb-10 mx-auto">
  <h1 class="font-normal text-3xl text-center text-main-color">Tentang Kami</h1>

  <div
    class="flex flex-wrap flex-row justify-center items-center mb-10 mt-10 px-6 md:justify-around md:mx-7 md:px-0"
  >
    <div class="w-2xl order-2 md:order-0">
      <p class="text-justify leading-relaxed text-base">
        Smart Recruit merupakan platform rekrutmen berbasis kecerdasan buatan
        yang dirancang untuk membantu perusahaan dalam mengidentifikasi kandidat
        teknologi informasi secara cepat dan akurat. Pada proses rekrutmen
        konvensional, seleksi kandidat masih banyak dilakukan secara manual,
        sehingga memerlukan waktu yang lama, bersifat subjektif, dan kurang
        efisien terutama ketika menghadapi kandidat dengan latar belakang yang
        serupa.
        <br /><br />
        Melalui penerapan teknologi kecerdasan buatan, Smart Recruit
        menghadirkan mekanisme klasifikasi kandidat secara otomatis. Sistem ini
        menganalisis data kandidat yang meliputi keahlian, sertifikasi, tingkat
        pendidikan, pengalaman kerja, serta proyek yang pernah dikerjakan untuk
        memprediksi peluang peran profesi yang paling sesuai, yaitu Data
        Scientist, Cybersecurity Engineer, dan AI Engineer.
        <br /><br />
        Tujuan utama pengembangan Smart Recruit adalah untuk mendukung recruiter
        dalam mengambil keputusan rekrutmen yang lebih objektif dan berbasis
        data. Dengan sistem ini, proses evaluasi kandidat dapat dilakukan secara
        lebih terstruktur, waktu seleksi dapat dipersingkat, serta akurasi dalam
        penentuan kandidat yang sesuai dengan kebutuhan perusahaan dapat
        ditingkatkan.
      </p>
    </div>
    <div class="text-center md:mr-10">
      <img
        src="{{ url_for('static', filename='img/logo.webp') }}"
        class="size-80 rounded-full md:size-90"
        alt="Smart Recruit Logo"
      />
    </div>
  </div>
</section>

<!-- Category -->
<section id="category" class="mt-40 mb-30 mx-auto">
  <h1 class="font-normal text-3xl text-center text-main-color">Kategori</h1>

  <div
    class="flex flex-wrap flex-row justify-center items-center gap-x-30 gap-y-20 mb-10 mt-10 px-6 md:mx-7 md:px-0"
  >
    <!-- Card data science -->
    <div class="bg-main-color block max-w-sm border-b rounded-base shadow-xs">
      <a href="{{url_for('candidate', category='data-science')}}">
        <img
          class="rounded-t-base size-80 object-cover"
          src="{{ url_for('static', filename='img/data-science.webp') }}"
          alt="data-science image"
        />
      </a>
      <div class="p-4 text-center">
        <a href="{{url_for('candidate', category='data-science')}}">
          <h5
            class="mt-3 mb-6 text-2xl font-semibold tracking-tight text-white"
          >
            Data Science
          </h5>
        </a>
        <a
          href="{{url_for('candidate', category='data-science')}}"
          class="inline-flex items-center text-white bg-second-color border border-transparent hover:bg-third-color focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
        >
          Lihat Kandidat
          <ion-icon name="eye-outline" class="size-4 ms-2 -me-0.5"></ion-icon>
        </a>
      </div>
    </div>

    <!-- Card AI -->
    <div class="bg-main-color block max-w-sm border-b rounded-base shadow-xs">
      <a href="{{url_for('candidate', category='ai')}}">
        <img
          class="rounded-t-base size-80 object-cover"
          src="{{ url_for('static', filename='img/AI.webp') }}"
          alt="AI image"
        />
      </a>
      <div class="p-4 text-center">
        <a href="{{url_for('candidate', category='ai')}}">
          <h5
            class="mt-3 mb-6 text-2xl font-semibold tracking-tight text-white"
          >
            Artificial Intelligence
          </h5>
        </a>
        <a
          href="{{url_for('candidate', category='ai')}}"
          class="inline-flex items-center text-white bg-second-color border border-transparent hover:bg-third-color focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
        >
          Lihat Kandidat
          <ion-icon name="eye-outline" class="size-4 ms-2 -me-0.5"></ion-icon>
        </a>
      </div>
    </div>

    <!-- Card Cybersecurity -->
    <div class="bg-main-color block max-w-sm border-b rounded-base shadow-xs">
      <a href="{{url_for('candidate', category='cybersecurity')}}">
        <img
          class="rounded-t-base size-80 object-cover"
          src="{{ url_for('static', filename='img/Cybersecurity.webp') }}"
          alt="Cybersecurity image"
        />
      </a>
      <div class="p-4 text-center">
        <a href="{{url_for('candidate', category='cybersecurity')}}">
          <h5
            class="mt-3 mb-6 text-2xl font-semibold tracking-tight text-white"
          >
            Cybersecurity
          </h5>
        </a>
        <a
          href="{{url_for('candidate', category='cybersecurity')}}"
          class="inline-flex items-center text-white bg-second-color border border-transparent hover:bg-third-color focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
        >
          Lihat Kandidat
          <ion-icon name="eye-outline" class="size-4 ms-2 -me-0.5"></ion-icon>
        </a>
      </div>
    </div>
  </div>
</section>

{% include "components/footer.html" %} {% endblock %}
