<!-- Footer -->
<footer class="bg-main-color text-white mt-40">
  <div class="mx-auto w-full max-w-screen p-4 py-6 lg:py-8 lg:px-20">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0 md:ml-10">
        <a href="/" class="flex items-center justify-center">
          <img
            src="/static/img/logo.png"
            class="size-30 rounded-4xl"
            alt="FlowBite Logo"
          />
        </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:mr-4">
        <div>
          <h2 class="mb-6 text-sm font-semibold uppercase">Follow us</h2>
          <ul class="font-medium">
            <li class="mb-4">
              <a
                href="https://github.com/yonathanfrans"
                target="_blank"
                class="hover:underline"
                >Github</a
              >
            </li>
            <li>
              <a
                href="https://www.instagram.com/yonathanfrans_"
                target="_blank"
                class="hover:underline"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold uppercase">Legal</h2>
          <ul class="font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">Privacy Policy</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Terms &amp; Conditions</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-default sm:mx-auto lg:my-8" />
    <div
      class="flex flex-col items-center justify-center gap-y-4 sm:flex-row sm:gap-y-0 sm:items-center sm:justify-between"
    >
      <span class="order-2 sm:order-0 text-sm sm:text-center"
        >© 2025
        <a
          href="https://github.com/yonathanfrans"
          target="_blank"
          class="hover:underline"
          >yonathanfrans</a
        >. All Rights Reserved.
      </span>
      <div class="flex gap-x-4 sm:justify-center sm:mt-0">
        <a
          href="https://github.com/yonathanfrans"
          target="_blank"
          class="hover:ms-2"
        >
          <ion-icon name="logo-github" class="size-5"></ion-icon>
          <span class="sr-only">GitHub account</span>
        </a>
        <a
          href="https://www.instagram.com/yonathanfrans_"
          target="_blank"
          class="hover:ms-2"
        >
          <ion-icon name="logo-instagram" class="size-5"></ion-icon>
          <span class="sr-only">Instagram account</span>
        </a>
        <a href="#" class="hover:ms-2">
          <ion-icon name="logo-discord" class="size-5"></ion-icon>
          <span class="sr-only">Discord community</span>
        </a>
      </div>
    </div>
  </div>
</footer>
